<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include head.html %}
  <body class="layout-no-sidebar">
    <div class="content container">
      <div class="head-nav">
        <h1><a href="/">{{ site.title }}</a></h1>
        <span class="social">
          <a class="twitter" href="http://twitter.com/troygoode" title="Twitter">Twitter</a>
          <a class="github" href="https://github.com/troygoode" title="GitHub">GitHub</a>
          <a class="rss" href="http://feeds.feedburner.com/squaredroot" title="RSS">RSS</a>
        </span>
        <hr />
      </div>
      {{ content }}
    </div>
    {% include scripts.html %}
  </body>
</html>
